html, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: sans-serif;
  background-color: #FAFAFA;
  color: #191919;
  font-family: 'regular';
  outline: none;
  overflow: hidden;
}
