@import url('https://fonts.googleapis.com/css?family=Vollkorn:400');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

:root {
  --main-white: #F2F2F2;
  --main-black: #0F0F0F;
  --main-light-black: #211a1d;
  --main-dark-purple: #2B061e;
  --main-light-purple: #847996;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  outline: none;
  overflow: hidden;
}

